{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table table-bordered m-4">
  <thead>
    <tr>
      <th>Quizname</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizzes %}
      <tr>
        <td>{{ quiz.name }}</td>
        <td>{{ quiz.user.username }}</td>
        <td><a href="/quiz/takeQuiz/{{ quiz.id }}" class='btn btn-primary'>Take Quiz</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if quizzes.has_other_pages %}
  <ul class="pagination">
    {% if quiz.has_previous %}
      <li><a href="?page={{ quizzes.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in quizzes.paginator.page_range %}
      {% if quizzes.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if quizzes.has_next %}
      <li><a href="?page={{ quizzes.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}